.Primero {
     width: 50%;
     height: 150x;
     background-color: #6DC36D;
}

body {

    margin: 0;
    padding: 0;
    background: #82CAFA;
}
.Datos

{

    font-family: 'Oswald', sans-serif;
}

.Nombre
{
    width: 50%;
    height: 150x;
    background-color: #F1F5F2;
    font-family: 'Oswald', sans-serif;
}

.Primario
{
    width: 50%;
    height: 150x;
    background-color: #CC92C2;
    font-family: 'Oswald', sans-serif;

}

.Secundario

{
    width: 50%;
    height: 150x;
    background-color: #F1F5F2;


}

.Tercero 
{
    width: 50%;
    height: 150x;
    background-color: #D5B9B2;
    font-family: 'Oswald', sans-serif;

}

.Biblio
{
    width: 50%;
    height: 150x;
    background-color: #F1F5F2;


}
